:root {
  --accentcolor: rgb(249, 217, 73);
  --accentcolor2: rgb(240, 240, 240);
  --accentcolor3: rgb(244, 80, 80);
  --primarycolor: rgb(60, 72, 107);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--primarycolor);
  color: #fff;
}

h1 {
  margin: 0;
}

.app {
  width: 100%;
  height: 100%;
}

/* Poll CSS */
#question {
  font-size: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--primarycolor);
}

#answer {
  position: relative;
  width: 100%;
  font-size: 18px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  color: var(--primarycolor);
  margin-bottom: 20px;
  text-align: left;
  border: 1px solid var(--primarycolor);
  border-radius: 12px;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
}

#answer .percentage {
  position: relative;
  text-align: right;
  float: right;
  width: 70px;
  z-index: 1;
}

#answer .label {
  position: absolute;
  color: var(--accentcolor);
  top: 50%;
  width: calc(100% - 40px);
  transform: translateY(-50%);
  z-index: 1;
}

#answer .percentageBar {
  position: absolute;
  top: 0%;
  left: 0px;
  height: 100%;
  background: var(--primarycolor);
  transition: width 300ms ease-in-out;
  z-index: 0;
}
/* Poll CSS */

/* Nav Bar CSS */
.navBarContainer {
  width: 100%;
}

.navBarContainer .navBarContent {
  width: 1200px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarContainer img {
  height: 50px;
}

.navBarContainer .navBarContent .rightContent {
  display: flex;
  align-items: center;
}
.navBarContainer .navBarContent .rightContent button {
  height: 50px;
  color: var(--primarycolor);
  font-size: 25px;
  justify-content: center;
  width: 180px;
  background-color: var(--accentcolor);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s ease;
}

.navBarContainer .navBarContent .rightContent button:hover {
  scale: .92;
}

.navBarContainer .navBarContent .rightContent img {
  border-radius: 12px;
  width: 50px;
  height: 50px;
  object-fit: fill;
}
/* Nav Bar CSS */

/* Home CSS */
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Featured Poll */
.heroContainer {
  width: 100%;
  height: 530px;
  background-color: var(--accentcolor);
  color: var(--primarycolor);
  box-shadow: 0 0 10px 0  #000 inset;
}

.featuredPollContainer {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.featuredPollContainer .featuredPollContent {
  padding: 4rem 0;
}

.featuredPollContainer .featuredPollContent .answers {
  padding-top: 20px;
}
/* Featured Poll */

/* Featured Categories */
.featuredContainer {
  width: 100%;
  margin-top: 2rem;
}

.featuredContainer .featuredContent {
  width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  
}

.featuredContainer .featuredContent .featuredPostContainer {
  margin: 1rem 0;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.featuredContainer .featuredContent .featuredPostContainer .featuredPost {
  width: 186px;
  height: 280px;
  border-radius: 12px;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  overflow-y: hidden;
}

.featuredContainer .featuredContent .featuredPostContainer .featuredPost h2 {
  margin: 10px;
  overflow-wrap: break-word;
}

.featuredContainer .featuredContent .featuredPostContainer .featuredPost .featuredPostTitle {
  height: 230px;
  overflow-y: hidden;
}

.featuredContainer .featuredContent .featuredPostContainer .featuredPost .featuredPostLikes {
  position: relative;
  float: right;
  padding-right: 10px;
}
/* Featured Categories */
/* Home CSS */

/* Create New Button */
.home .openModalBtn {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 100%;
  font-size: 35px;
  background-color: var(--accentcolor);
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  color: var(--primarycolor);
}

.home .openModalBtn:hover {
  scale: 0.92;
}
/* Create New Button */

/* Modal CSS */
.modalBackdrop{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,.5);
  z-index: 2;
}

.modalContainer {
  max-width: 500px;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 12px;
  background-color: var(--primarycolor);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modalContainer .title {
  display: flex;
  align-items: top;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.modalContainer .title h1 {
  font-size: 26px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#modalCloseBtn {
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s ease;
}

#modalCloseBtn:hover {
  scale: 0.9;
}

.modalContainer .body {
  display: flex;
  flex-direction: column;
}

.modalContainer .body input {
  width: calc(100% - 22px);
  height: 30px;
  border: 1px solid var(--accentcolor);
  outline: none;
  border-radius: 6px;
  color: var(--accentcolor2);
  background-color: transparent;
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
}

.answerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-75 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#optionsButton {
  float: right;
  background-color: transparent;
  border: none;
  color: #999;
  transition: 0.5s ease;
  cursor: pointer;
}

#optionsButton:hover {
  scale: .92;
}

#removeButton {
  width: calc(100% - 10px);
  height: 52px;
  margin: 10px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

#removeButton:hover {
  scale: 0.92;
}

.modalContainer .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 60px);
  padding: 30px;
}
.modalContainer .footer .footerContents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modalContainer .footer .footerContents input {
  width: 100px;
  height: 35px;
  color: var(--primarycolor);
  background-color: var(--accentcolor);
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.modalContainer .footer .footerContents input:hover {
  scale: 0.9;
}
/* Modal CSS */

/* Login CSS */

.modalBackdrop .modalContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primarycolor);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.login-container label {
  font-size: 24px;
  margin-bottom: 10px;
}

.login-container input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.login-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--accentcolor);
  color: var(--primarycolor);
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s ease;
}

.login-container button:hover {
  scale: 0.9;
}
/* Login CSS */